/**
 * @author Jackson Asumu Chegenye <chegenyejackson@gmail.com> <0711494289>
 * @version 0.0.1
 * @copyright J-Tech Company KE <www.j-tech.tech>
 *
 */

body{
	color: rgba(0, 99, 79, 0.71);
}
.navbar-default {
    background-color: #18BC9C;
    border-radius: inherit;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#000;
}

/*TABLE*/
.tablewidth1 {
	width:250px;
}
.tablewidth2{
	width:125px;
}
tbody .fa{
	color: #E74C3C;
	padding: 10px;
	cursor:pointer;
}
table a:not(.btn), .table a:not(.btn) {
	text-decoration: none;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: inherit;
}
table-bordered>thead>tr>th, .table-bordered>thead>tr>th, table-bordered>tbody>tr>th, .table-bordered>tbody>tr>th, table-bordered>tfoot>tr>th, .table-bordered>tfoot>tr>th, table-bordered>thead>tr>td, .table-bordered>thead>tr>td, table-bordered>tbody>tr>td, .table-bordered>tbody>tr>td, table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>td{
    border: 1px solid rgba(255, 255, 255, 0);
}

.input-group-addon{
	padding: 5px 10px;
}
.input-group-addon{
    color: #FFF;
    background-color: #18BC9C;
    border: 1px solid #18BC9C;
}

/*FORM*/
.form-control:focus{
	border-color:#18BC9C;
}
.form-control{
    color: #18BC9C;
    border: 1px solid #18BC9C;
    background-color: rgba(255, 255, 255, 0);
}

/*MODAL*/
.modal-content{
	background-color: rgba(255, 255, 255, 0.84)
}
.modal-body{
	padding: 15px 10px;
}

/*BUTTON*/
.btn-primary{
	background-color: #18BC9C;
    border-color: #18BC9C;
}
.btn-primary:hover{
	background-color: rgba(24, 188, 156, 0.51);
    border-color: rgba(24, 188, 156, 0.51);
}
.btn-default {
    background-color: rgba(24, 188, 156, 0.51);
    border-color: rgba(24, 188, 156, 0.51);
}
.btn-default:hover {
    background-color: #18BC9C;
    border-color: #18BC9C;
}
.add-button a{
	text-decoration: none;
	cursor:pointer;
}
.add-button a:hover{
	color:#fff;
    text-decoration: none;
}
.add-button{
    border: 1px solid #2DBC9C;
    padding: 5px 10px;
    border-radius: 5%;
    cursor: pointer;
    text-decoration: none;
}
.add-button:hover{
    background-color: #2DBC9C; 
    color:#fff;
    text-decoration: none;
}

/*ACCODATION*/
.panel-default>.panel-heading {
    background-color: #18BC9C;
    border-color: #18BC9C;
    color:#fff;
    text-align: center;
}
.panel-default>.panel-heading, .lists{
    background-color: #F8FDFC;
    border-color: #18BC9C;
    color: #18BC9C
}
.panel-default{
    border-color: rgba(24, 188, 156, 0.07);
}
.panel{
	background-color: rgba(24, 188, 156, 0.03);
}

.margin-tb{
    margin-left: -4px;
}

.bg-info{
    background-color: #FA8072;
    border-radius: 5px;
    color: #FFF;
}