<div class="row">
    <div class="col-lg-12 margin-tb ">
        <div class="pull-left " style="margin-top: 8px;">
        <h4>Meal ordering</h4>
            <a data-toggle="modal" data-target="#create-order" class="add-button">
                New Order 
            </a> 
        </div>
        <div class="pull-right" style="margin-right: -8px;">
        <h4>Welcome <?php echo Auth::user()->name ?></h4>
            <div class="box-tools" style="display:inline-table">
              <div class="input-group">
                  <input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Search" ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip="" data-original-title="Min character length is 3">
                  <span class="input-group-addon">Go</span>
              </div>
            </div>
        </div>
    </div>
</div>
<p class="bg-info">
    {{flash}}
</p>
<div class="row">
    
<table class="table table-bordered pagin-table" >
    <tbody style="border: 1px solid rgba(255, 255, 255, 0);" >
        <tr dir-paginate="value in data | itemsPerPage:5" total-items="totalItems" class="col-sm-6" style="display: table;">

            <td>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#/items/{{ $index + 1 }}">
                              {{ value.order_title }}
                          </a>
                      </h4>
                  </div>
                  <div id="/items/{{ $index + 1 }}" class="panel-collapse collapse in">
                    <div class="panel-body">
                    
                        <div class="text-left">
                            <p style="color: #E74C3C;">
                                #Ref No.{{ value.oid }} &nbsp
                                {{ value.order_date}} &nbsp
                                <span style=" color:#F8FDFC; background-color: #51B7FF; padding: 5px;"> {{ value.order_status }} </span>
                                <!-- {{ $index + 1 }} -->
                            </p>
                        </div>
                        <div class="text-right" style="margin-top:-40px;">
                            <a data-toggle="modal" ng-click="edit(value.oid)" data-target="#edit-data" title="Edit this order"> 
                                <i class="fa fa-edit"></i>
                            </a>
                            <a ng-click="remove(value,$index)" title="Delete this order">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a data-toggle="modal" ng-click="edit(value.oid)" data-target="#add-meal" title="Add a meal to this order">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a ng-click="statusDelivered(value,$index)" title="Mark this order as delivered">
                                <i class="fa fa-check"></i>
                            </a>
                        </div>
                        <hr>
                        <div class="pull-left">
                            <p><b>Order by:</b> {{ value.user_name}} </p>
                            <ol class="unstyled"  >
                                <li ng-repeat="active in status" ng-if=" value.oid == active.oid">
                                    <p>
                                        <a ng-click="removeMeal(active,$index)" title="Delete this Meal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <span>{{ active.meal_name }}</span> ............................
                                        <span>{{ active.meal_price }}/=</span>
                                        <i style="font-size: 10px; padding-left: 10px;">
                                            <b>Anded by:</b> {{ active.meal_added_by }}
                                        </i>
                                    </p>
                                </li>
                            </ol>
                            <hr>
                            <p>
                                <div style="font-weight:700;">{{ value.order_description }}</div>
                            </p>
                            
                        </div>
                      </div>
                    </div>
                </div>
            
            </td>

        </tr>
    
    </tbody>
</table>
<dir-pagination-controls class="pull-right" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" >
</dir-pagination-controls>

<div class="panel-group m-bot20" id="accordion">
  <div class="panel panel-default">
      <div class="panel-heading lists">
          <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#/orders/active/">
                  Lists of all orders active
              </a>
          </h4>
      </div>
      <div id="/orders/active/" class="panel-collapse collapse in">
          <div class="panel-body">
              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>O. Title</th>
                      <th>O. Description</th>
                      <th>O. Date</th>
                      <th>O. By</th>
                      <th>|</th>
                      <th>Meal Name</th>
                      <th>Meal Price</th>
                      <th>Meal Date</th>
                      <th>Meal Added by</th>
                  </tr>
                  </thead>
                    <tbody>
                    
                        <tr ng-repeat="active in status" ng-if="active.order_status=='ordered'">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ active.order_title }}</td>
                            <td>{{ active.order_description }}</td>
                            <td>{{ active.order_date }}</td>
                            <td>{{ active.user_name }}</td>
                            <td>|</td>
                            <td>{{ active.meal_name }}</td>
                            <td>{{ active.meal_price }}</td>
                            <td>{{ active.meal_date }}</td>
                            <td>{{ active.meal_added_by }}</td>
                        </tr>

                    </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading lists">
          <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  List of finalized & archived orders
              </a>
          </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body">
              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>O. Title</th>
                      <th>O. Description</th>
                      <th>O. Date</th>
                      <th>O. By</th>
                      <th>|</th>
                      <th>Meal Name</th>
                      <th>Meal Price</th>
                      <th>Meal Date</th>
                      <th>Meal Added by</th>
                  </tr>
                  </thead>
                  <tbody>
                    
                        <tr ng-repeat="value in data" ng-if="value.order_status=='delivered'">
                            <td>{{ $index1 + 1 }}</td>
                            <td>{{ value.order_title }}</td>
                            <td>{{ value.order_description }}</td>
                            <td>{{ value.order_date }}</td>
                            <td>{{ value.user_name }}</td>
                            <td>|</td>
                            <td>{{ value.meal_name }}</td>
                            <td>{{ value.meal_price }}</td>
                            <td>{{ value.meal_date }}</td>
                            <td>{{ value.meal_added_by }}</td>
                
                        </tr>

                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>

<!-- Create Modal -->
<?php include("partials/new-order.html"); ?>

<!-- Edit Modal -->
<?php include("partials/edit-order.html"); ?>

<!-- Add Meal Modal -->
<?php include("partials/add-meal.html"); ?>

<!-- Reuse codes -->
<!--?php

    $orders = new App\Http\Controllers\ItemController();
    $variable = $orders->ordersActive();

    foreach ($variable as $key => $value) {

        if ($value->order_status == 'delivered') { ?>
            <tr>
                <td>< ?php echo $key + 1 ?></td>
                <td>< ?php echo $value->order_title; ?></td>
                <td>< ?php echo $value->order_description; ?></td>
                <td>< ?php echo $value->order_date; ?></td>
                <td>< ?php echo $value->user_name; ?></td>
                <td>|</td>
                <td>< ?php echo $value->meal_name; ?></td>
                <td>< ?php echo $value->meal_price; ?></td>
                <td>< ?php echo $value->meal_date; ?></td>
                <td>< ?php echo $value->meal_added_by; ?></td>
            </tr>                                
        < ?php } ?-->
       