
<div class="modal fade" id="edit-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="editItem" role="form" ng-submit="saveEdit()">
            <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <input ng-model="form.oid" type="hidden" placeholder="Name" name="name" class="form-control" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                Edit {{form.order_title}} 
                </h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Restaurant Name: </strong>
                            <div class="form-group">
                               <input ng-model="form.order_title" type="text" name="order_title" class="form-control" required />
                            </div>
                            <strong>Description : </strong>
                            <div class="form-group">
                               <textarea ng-model="form.order_description" class="form-control" required>
                                </textarea>
                            </div>
                            <strong>Meal Name: </strong>
                            <div class="form-group">
                                <input ng-model="form.meal_name" type="text" name="meal_name" class="form-control" required />
                            </div>

                            <strong>Price (Kshs): </strong>
                            <div class="form-group">
                                <input ng-model="form.meal_price" type="text" name="meal_price" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-disabled="editItem.$invalid" class="btn btn-primary create-crud">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
